<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" href="{% static 'category.css' %}">
</head>
<body>
    <!--NavBar Starts-->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage' %}">HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">

              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  SHOP
              </a>
                  
              <ul class="dropdown-menu">
              {% for category in categories %}
              
              <li><a class="dropdown-item" href="{{category.get_page_url}}">{{category.name}}</a></li>
              
              {% endfor %}

              <li><a class="dropdown-item" href="{% url 'shop' %}">SHOP</a></li>

              </ul>

            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'cart' %}">CART</a>
            </li>
            

          </ul>
          <form class="d-flex" role="search" method="post">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="product_search" required>
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <!--Navbar Ends-->

    
    <div class = "products_page container">
        <h1 class="subpage_title">{{category.name}}</h1>

        <div class="category_buttons container-fluid">
          {% for category in categories %}
          <a href="{{category.get_page_url}}" class="btn btn-dark btn-lg col-2">{{category.name}}</a>
          {% endfor %}

          <a href="{% url 'shop' %}" class="btn btn-dark btn-lg col-2">Shop</a>
        </div>

        <div class="products_listed">
          {% for product in products %}
          <div class="product_card" style="width: 18rem;">
            <a href="{{product.get_info_url}}">
              <img src="{{product.image.url}}" class="card-img-top" alt="Image">
            </a>
            <div class="product_card_body">
              <p class="product_name">{{product.name}}</p>
              <p class="product_price">${{product.price}}</p>
            </div>
          </div>
        {% endfor %}
        </div>

        <!--<div class="row">
            {% for product in products %}
            <div class="items col-sm-3 mb-3 mb-sm-0">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <img src="{{product.image.url}}" alt="product">
                      <h5 class="card-title">{{product.name}}</h5>
                      <p class="card-text">${{product.price}}</p>
                      <a href="{{product.get_info_url}}" class="btn btn-primary">Info</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>-->
        
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>